.tourlist {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .tourlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .tourlist {
    width: 85vw;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1140px) {
  .tourlist {
    width: 95vw;
    grid-template-columns: repeat(4, 1fr);
  }
}
